/* fonts */

div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #0df; }
div.jqcloud a:hover { color: #0cf; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }

#watermark
{
 position:absolute;
 bottom:25px;
 right:50px;
 opacity:0.5;
 z-index:99;
 color:blue;
}

/* Sectors */

.المصارف والخدمات المالية.w10{ color: #000000; }
.المصارف والخدمات المالية.w9{ color: #000033; }
.المصارف والخدمات المالية.w8{ color: #000066; }
.المصارف والخدمات المالية.w7{ color: #000099; }
.المصارف والخدمات المالية.w6{ color: #0000CC; }
.المصارف والخدمات المالية.w5{ color: #0000FF; }
.المصارف والخدمات المالية.w4{ color: #003300; }
.المصارف والخدمات المالية.w3{ color: #003333; }
.المصارف والخدمات المالية.w2{ color: #003366; }
.المصارف والخدمات المالية.w1{ color: #003399; }
.الصناعات البتروكيماوية.w10{ color: #0033CC; }
.الصناعات البتروكيماوية.w9{ color: #0033FF; }
.الصناعات البتروكيماوية.w8{ color: #006600; }
.الصناعات البتروكيماوية.w7{ color: #006633; }
.الصناعات البتروكيماوية.w6{ color: #006666; }
.الصناعات البتروكيماوية.w5{ color: #006699; }
.الصناعات البتروكيماوية.w4{ color: #0066CC; }
.الصناعات البتروكيماوية.w3{ color: #0066FF; }
.الصناعات البتروكيماوية.w2{ color: #009900; }
.الصناعات البتروكيماوية.w1{ color: #009933; }
.الأسمنت.w10{ color: #009966; }
.الأسمنت.w9{ color: #009999; }
.الأسمنت.w8{ color: #0099CC; }
.الأسمنت.w7{ color: #0099FF; }
.الأسمنت.w6{ color: #00CC00; }
.الأسمنت.w5{ color: #00CC33; }
.الأسمنت.w4{ color: #00CC66; }
.الأسمنت.w3{ color: #00CC99; }
.الأسمنت.w2{ color: #00CCCC; }
.الأسمنت.w1{ color: #00CCFF; }
.التجزئة.w10{ color: #00FF00; }
.التجزئة.w9{ color: #00FF33; }
.التجزئة.w8{ color: #00FF66; }
.التجزئة.w7{ color: #00FF99; }
.التجزئة.w6{ color: #00FFCC; }
.التجزئة.w5{ color: #00FFFF; }
.التجزئة.w4{ color: #330000; }
.التجزئة.w3{ color: #330033; }
.التجزئة.w2{ color: #330066; }
.التجزئة.w1{ color: #330099; }
.الطاقة والمرافق الخدمية.w10{ color: #3300CC; }
.الطاقة والمرافق الخدمية.w9{ color: #3300FF; }
.الطاقة والمرافق الخدمية.w8{ color: #333300; }
.الطاقة والمرافق الخدمية.w7{ color: #333333; }
.الطاقة والمرافق الخدمية.w6{ color: #333366; }
.الطاقة والمرافق الخدمية.w5{ color: #333399; }
.الطاقة والمرافق الخدمية.w4{ color: #3333CC; }
.الطاقة والمرافق الخدمية.w3{ color: #3333FF; }
.الطاقة والمرافق الخدمية.w2{ color: #336600; }
.الطاقة والمرافق الخدمية.w1{ color: #336633; }
.الزراعة والصناعات الغذائية.w10{ color: #336666; }
.الزراعة والصناعات الغذائية.w9{ color: #336699; }
.الزراعة والصناعات الغذائية.w8{ color: #3366CC; }
.الزراعة والصناعات الغذائية.w7{ color: #3366FF; }
.الزراعة والصناعات الغذائية.w6{ color: #339900; }
.الزراعة والصناعات الغذائية.w5{ color: #339933; }
.الزراعة والصناعات الغذائية.w4{ color: #339966; }
.الزراعة والصناعات الغذائية.w3{ color: #339999; }
.الزراعة والصناعات الغذائية.w2{ color: #3399CC; }
.الزراعة والصناعات الغذائية.w1{ color: #3399FF; }
.الاتصالات و تقنية المعلومات.w10{ color: #33CC00; }
.الاتصالات و تقنية المعلومات.w9{ color: #33CC33; }
.الاتصالات و تقنية المعلومات.w8{ color: #33CC66; }
.الاتصالات و تقنية المعلومات.w7{ color: #33CC99; }
.الاتصالات و تقنية المعلومات.w6{ color: #33CCCC; }
.الاتصالات و تقنية المعلومات.w5{ color: #33CCFF; }
.الاتصالات و تقنية المعلومات.w4{ color: #33FF00; }
.الاتصالات و تقنية المعلومات.w3{ color: #33FF33; }
.الاتصالات و تقنية المعلومات.w2{ color: #33FF66; }
.الاتصالات و تقنية المعلومات.w1{ color: #33FF99; }
.التأمين.w10{ color: #33FFCC; }
.التأمين.w9{ color: #33FFFF; }
.التأمين.w8{ color: #99CC00; }
.التأمين.w7{ color: #99CC33; }
.التأمين.w6{ color: #99CC66; }
.التأمين.w5{ color: #99CC99; }
.التأمين.w4{ color: #99CCCC; }
.التأمين.w3{ color: #99CCFF; }
.التأمين.w2{ color: #99FF00; }
.التأمين.w1{ color: #99FF33; }
.الاستثمار المتعدد.w10{ color: #99FF66; }
.الاستثمار المتعدد.w9{ color: #99FF99; }
.الاستثمار المتعدد.w8{ color: #99FFCC; }
.الاستثمار المتعدد.w7{ color: #99FFFF; }
.الاستثمار المتعدد.w6{ color: #CC0000; }
.الاستثمار المتعدد.w5{ color: #CC0033; }
.الاستثمار المتعدد.w4{ color: #CC0066; }
.الاستثمار المتعدد.w3{ color: #CC0099; }
.الاستثمار المتعدد.w2{ color: #CC00CC; }
.الاستثمار المتعدد.w1{ color: #CC00FF; }
.الاستثمار الصناعي.w10{ color: #CC3300; }
.الاستثمار الصناعي.w9{ color: #CC3333; }
.الاستثمار الصناعي.w8{ color: #CC3366; }
.الاستثمار الصناعي.w7{ color: #CC3399; }
.الاستثمار الصناعي.w6{ color: #CC33CC; }
.الاستثمار الصناعي.w5{ color: #CC33FF; }
.الاستثمار الصناعي.w4{ color: #CC6600; }
.الاستثمار الصناعي.w3{ color: #CC6633; }
.الاستثمار الصناعي.w2{ color: #CC6666; }
.الاستثمار الصناعي.w1{ color: #CC6699; }
.التشييد والبناء.w10{ color: #CC66CC; }
.التشييد والبناء.w9{ color: #CC66FF; }
.التشييد والبناء.w8{ color: #CC9900; }
.التشييد والبناء.w7{ color: #CC9933; }
.التشييد والبناء.w6{ color: #CC9966; }
.التشييد والبناء.w5{ color: #CC9999; }
.التشييد والبناء.w4{ color: #CC99CC; }
.التشييد والبناء.w3{ color: #CC99FF; }
.التشييد والبناء.w2{ color: #CCCC00; }
.التشييد والبناء.w1{ color: #CCCC33; }
.التطوير العقاري.w10{ color: #CCCC66; }
.التطوير العقاري.w9{ color: #CCCC99; }
.التطوير العقاري.w8{ color: #CCCCCC; }
.التطوير العقاري.w7{ color: #CCCCFF; }
.التطوير العقاري.w6{ color: #CCFF00; }
.التطوير العقاري.w5{ color: #CCFF33; }
.التطوير العقاري.w4{ color: #CCFF66; }
.التطوير العقاري.w3{ color: #CCFF99; }
.التطوير العقاري.w2{ color: #CCFFCC; }
.التطوير العقاري.w1{ color: #CCFFFF; }
.النقل.w10{ color: #FF0000; }
.النقل.w9{ color: #FF0033; }
.النقل.w8{ color: #FF0066; }
.النقل.w7{ color: #FF0099; }
.النقل.w6{ color: #FF00CC; }
.النقل.w5{ color: #FF00FF; }
.النقل.w4{ color: #FF3300; }
.النقل.w3{ color: #FF3333; }
.النقل.w2{ color: #FF3366; }
.النقل.w1{ color: #FF3399; }
.الإعلام والنشر.w10{ color: #FF33CC; }
.الإعلام والنشر.w9{ color: #FF33FF; }
.الإعلام والنشر.w8{ color: #FF6600; }
.الإعلام والنشر.w7{ color: #FF6633; }
.الإعلام والنشر.w6{ color: #FF6666; }
.الإعلام والنشر.w5{ color: #FF6699; }
.الإعلام والنشر.w4{ color: #FF66CC; }
.الإعلام والنشر.w3{ color: #FF66FF; }
.الإعلام والنشر.w2{ color: #FF9900; }
.الإعلام والنشر.w1{ color: #FF9933; }
.الفنادق والسياحة.w10{ color: #FF9966; }
.الفنادق والسياحة.w9{ color: #FF9999; }
.الفنادق والسياحة.w8{ color: #FF99CC; }
.الفنادق والسياحة.w7{ color: #FF99FF; }
.الفنادق والسياحة.w6{ color: #FFCC00; }
.الفنادق والسياحة.w5{ color: #FFCC33; }
.الفنادق والسياحة.w4{ color: #FFCC66; }
.الفنادق والسياحة.w3{ color: #FFCC99; }
.الفنادق والسياحة.w2{ color: #FFCCCC; }
.الفنادق والسياحة.w1{ color: #FFCCFF; }
.صناديق المؤشرات المتداولة.w10{ color: #FFFF00; }
.صناديق المؤشرات المتداولة.w9{ color: #FFFF33; }
.صناديق المؤشرات المتداولة.w8{ color: #FFFF66; }
.صناديق المؤشرات المتداولة.w7{ color: #FFFF99; }
.صناديق المؤشرات المتداولة.w6{ color: #FFFFCC; }
.صناديق المؤشرات المتداولة.w5{ color: #FFFFFF; }
.صناديق المؤشرات المتداولة.w4{ color: #FFFF00; }
.صناديق المؤشرات المتداولة.w3{ color: #FFFF33; }
.صناديق المؤشرات المتداولة.w2{ color: #FFFF66; }
.صناديق المؤشرات المتداولة.w1{ color: #FFFF99; }
