.navbar-inverse{
	/*background-color: #2394F2;*/
	background-color: #428bca;
	color: white;
}
.navbar-inverse .navbar-brand{
	color: white;
}
.navbar-inverse .navbar-nav>li>a{
	color: white;
	padding-bottom: 7px;
	padding-top: 7px;
	border-radius: 6px;
}
.active-tab{
	border:2px solid white;
}
.navbar-inverse .navbar-nav li{
	margin-top: 7px;
	margin-left: 3px;
	margin-right: 3px;
}
.navbar-inverse .navbar-nav>li>a:hover{
	border:1px solid white;
}
.sidebar{
	background-color: #2F3239;
	color: white;
	overflow-y:hidden;
}
.header-nav{
	margin-left: 105px;
}
.navbar-form{
	padding:0;
}
.language-bar{
	float: right;
}
.language-bar li{
	margin: 3px;
	margin-top: 9px;
}
.language-bar li a{
	padding:5px;
	color:#999 !important;
}

/*.language-bar #AR{
	background: url(../img/icons/arabic.png) no-repeat;
}*/
.signin{
	position: relative;
	margin-top: -23px;
}
.signin input{
	float :left;
	width: 35%;
	margin-right: 10px;
}
.signin button{
	width: 60px;
	height: 35px;
	font-size:15px;
	line-height: 0.6;
	border: 1px solid white;
	border-radius: 4px;
}
.upload-btn{
	opacity: 0;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
.upload-btn-container{
	position: relative;
	font-size: 18px;
}
.header-avatar{
	height: 38px;
	border: 2px solid whitesmoke;
	border-radius: 3px;
	cursor: pointer;
}
.profile-link{
	padding: 0!important;
}
.profile-link:hover{
	/*border-radius: 0!important;*/
	/*border: 0!important;*/
	/*zoom:1.1;*/
}
.header-user-name{
	margin-top: 15px!important;
margin-right: 10px!important;
margin-left: 10px!important;
text-transform: uppercase;
font-weight: bold!important;
}
.errormsg{
	position: absolute;
	top: 50px;
	left: 265px;
	text-transform: capitalize;
	color: red;
}
.settings-btn{
	background: url(../icons/settings.png) no-repeat;
	text-indent: -10000px;
	width: 35px;
	margin-top: 1px;
	border: 0!important;
}
.settings-btn:hover{
	border:0!important;
	background: url(../icons/settings-black.png) no-repeat;
}
.header-btn:hover{
	color: white!important;
}
.testing{
	padding-top: 15px;
  	padding-bottom: 15px;
  	/*background-color: #eee;*/
  	/*background-color: rgba(86,61,124,.15);*/
  	/*border: 1px solid #ddd;*/
  	/*border: 1px solid rgba(86,61,124,.2);*/
  	text-transform: uppercase;
  	/*box-shadow: 0px 0px 10px 1px whitesmoke;*/
	border-radius: 4px;
	margin: 8px 0px 7px 0px; 
	background: #f5f8fa!important;
}
.twitter-prof-pic{
	float: left;
	border: 2px solid whitesmoke;
	margin-right: 10px!important;
}
.twitter-tweet-content{
	margin-left: 10px;
	margin-top: 5px;
}